body,
html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(180deg, #000000, #457b9d);
	touch-action: none;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at center, #000000, #9f9f9f);
	cursor: pointer;
	filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));
}
